{
    "wifi": [
        {
            "ssid": "",
            "password": ""
        }
    ],
    "ap_wifi": {
        "ssid": "octoprint-signal-tower",
        "password": "octosignal"
    },
    "mqtt": {
        "host": "",
        "port": 1883,
        "topics": [
            "octoPrint/event/PrinterStateChanged"
        ],
        "username": "",
        "password": ""
    },
    "rest": {
        "url": "http://MY_OCTOPRINT_INSTANCE:PORT",
        "apiKey": ""
    },
    "lights": [
        {
            "name": "Green",
            "pin": 4,
            "reversed": false
        },
        {
            "name": "Yellow",
            "pin": 3,
            "reversed": false
        },
        {
            "name": "Red",
            "pin": 2,
            "reversed": false
        }
    ],
    "states": {
        "Printing": [
            {
                "name": "Green",
                "blink": 500
            }
        ],
        "Pausing": [
            {
                "name": "Yellow",
                "blink": 250
            }
        ],
        "Paused": [
            {
                "name": "Yellow",
                "blink": 1000
            }
        ],
        "Error": [
            {
                "name": "Red",
                "blink": 500
            }
        ],
        "Complete": [
            {
                "name": "Green",
                "blink": 0
            }
        ],
        "Offline": [
            {
                "name": "Red",
                "blink": 0
            }
        ],
        "Operational": [
            {
                "name": "Green",
                "blink": 0
            }
        ],
        "Connecting": [
            {
                "name": "Green",
                "blink": 500
            }
        ]
    },
    "useMqtt": false
}